{
    "tabWidth": 4,
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": { "tabWidth": 2 }
        }
    ]
}
